.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #230D33/* #282c34 */;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2em 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea,
input,
textarea.form-control, 
input.form-control {
  background-color: transparent;
  border: none !important;
  color: white;
  font-size: 3rem;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Courgette';
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #9400FF, 0 0 40px #9400FF, 0 0 50px #9400FF;
}
textarea:focus,input:focus,
textarea.form-control:focus, input.form-control:focus {
  border-color: transparent !important;
  background-color: transparent;
  box-shadow: none;
  color: white;
}